<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/api/v1/styles.css"><link rel="icon" type="image/x-icon" href="/images/power-icon.png">
    <script src="/api/v1/logic.js" defer></script>
    <title>Admin console</title>
</head>
<body>
    <main class="body">
        <div id="spin" style="display: none;"></div>
        <div class="spin"></div>
        <section class="header">
            <header class="nav-bar-head">
                <nav calss="nav-bar">
                    <div class="nav-div">
                    <img src="../images/power-icon.png" alt="Image">
                    <ul>
                        <li><button class="bnt-nav" id="home">Home</button></li>
                        <li><button class="bnt-nav">Code</button></li>
                        <li><button class="bnt-nav sec-bnt" onclick="btn_sec()">Section</button></li>
                        <li><button class="bnt-nav" id="out">Logout</button></li>
                    </ul>
                </div>
                <div id="user"><%= name %></div>
                </nav>
            </header>
        </section>
        <div class="main">
            <section class="content">
                <div class="content-space">
                    <div class="section">
                        <h1>#Section 1</h1>
                        <div class="card">
                            <p class="desc">Description</p>
                        </div>
                    </div>
                    <div class="section">
                        <h1>#Section 2</h1>
                        <div class="card">
                            <p class="desc">Description</p>
                        </div>
                    </div>
                    <div class="section">
                        <h1>#Section 3</h1>
                        <div class="card">
                            <p class="desc">Description</p>
                        </div>
                    </div>
                </div>
                <button class="floating-bnt" onclick="change()">+</button>
            </section>
        </div>
        <footer>
            <p>Developed with ❤️ by Shrihari.</p>
            <div id="snackbar"></div>
        </footer>
    </main>
</body>
</html>