<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="/images/power-icon.png">
  <title>Login</title>
  <style>
    .contain {
      background: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
      backdrop-filter: blur(8px);
      min-height: 25rem;
      min-width: 21rem;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Poppins', sans-serif;
      flex-direction: column;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
    }

    h1 {
      color: white;
      top: 1rem;
      line-height: 42px;
      letter-spacing: 1px;
      margin-top: -1rem;
    }

    body {
      background: url('/images/editors-keys-CtDrd7mWW6M-unsplash.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-color: rgba(0, 0, 0, 0.8);
      background-size: cover;
      background-position: center;
      overflow: hidden;
      font-family: 'Poppins', sans-serif;
      line-height: 1.5;
      font-size: 13px;
      min-height: 100vh;
      min-width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    form {
      outline: 0;
      float: left;
      display: flex;
      flex-direction: column;
      -webkit-border-radius: 4px;
      border-radius: 4px;
    }

    form>.textbox {
      outline: 0;
      height: 42px;
      width: 244px;
      line-height: 42px;
      margin-top: 5px;
      padding: 0 16px;
      background-color: rgba(255, 255, 255, 0.8);
      color: #212121;
      border: 0;
      float: left;
      -webkit-border-radius: 4px 0 0 4px;
      border-radius: 4px;
    }

    form>.textbox:focus {
      outline: 0;
      background-color: #FFF;
    }

    form>.button {
      outline: 0;
      background: none;
      background-color: rgba(0, 0, 0, 0.8);
      float: left;
      height: 42px;
      width: 100%;
      margin-top: 10px;
      text-align: center;
      line-height: 42px;
      border: 0;
      color: #FFF;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 16px;
      -webkit-transition: background-color .4s ease;
      transition: background-color .4s ease;
      -webkit-border-radius: 0 4px 4px 0;
      border-radius: 5px;
    }

    form>.button:hover {
      background-color: rgba(0, 150, 136, 0.8);
    }

    #snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: rgba(255, 0, 0, 0.2);
      font-weight: bold;
      border: 2px solid red;
      color: #fff;
      text-align: center;
      border-radius: 4px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 45%;
      bottom: 30px;
    }

    #snackbar.show {
      visibility: visible;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @keyframes fadein {
      from {
        bottom: 0;
        opacity: 0;
      }

      to {
        bottom: 30px;
        opacity: 1;
      }
    }
    @keyframes fadeout {
      from {
        bottom: 30px;
        opacity: 1;
      }

      to {
        bottom: 0;
        opacity: 0;
      }
    }
  </style>
</head>

<body>
  <div class="contain">
    <h1>Admin Console</h1>
    <form method="post" action="/api/v1/login">
      <input type="text" class="textbox" placeholder="User name" name="email" required>
      <input type="password" class="textbox" placeholder="Password" name="pass" required>
      <input title="Login" value="ï¡" type="submit" class="button">
      <div id="snackbar">Error</div>
    </form>
  </div>
</body>
<% if(err !='' ){ %>
  <script>
    console.log("object");
    var x = document.getElementById("snackbar");
    x.innerHTML = "<%= err %>"
    x.className = "show"
    setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
  </script>
  <% } %>

</html>